* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#titleLog {
  font-family: "Rammetto One", cursive;
  color: #504F4F;
  padding: 80px;
  text-align: center;
  font-size: 80px;
}
h1 {
  color: #504F4F;
  padding: 15px;
}

p {
  display: flex;
  justify-content: left;
  font-family: "Open Sans", sans-serif;
  color: #504F4F;
  padding: 15px;
  text-align: left;
  text-align: justify;
  margin-left: 5%;
}
h2 {
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.imgProd{
  width: 20%;
  height: 20%;
}

h1 {
  color: #504F4F;
  padding: 15px;
}

p {
  display: flex;
  justify-content: left;
  font-family: "Open Sans", sans-serif;
  color: #504F4F;
  padding: 15px;
  text-align: left;
  text-align: justify;
  margin-left: 5%;
}
.celulares {
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  border: solid grey 1px;
  box-shadow: 36px 36px 72px #d6cece, -36px -36px 72px #ffffff;
  margin: 5%;
  padding: 5%;
  height: auto;
  width: 90%;
}
